/* Configuración general del documento */

main {
  font-size: 15px;
  min-height: 800px;
}

.container {
  color: white;
  display: flex;
  min-height: 100vh; 
  flex-flow: column wrap; 
  flex-basis: 100%;
}

.container > * {
  padding: 15px;
}

header {
  background-color: #7E685A;
  color: white;
  padding: 0.7em;
  font-size: 15px;
}

.divisor {
  background-color: #7E685A;
  flex-basis: 100%;
  min-height: 0.5vw;
  border-radius: 15px;
}

@media all and (min-width: 800px) {
  .container          { flex-flow: row wrap }
  .container > *      { flex-basis: 0%; font-size: 1vw }
   header             { font-size: 1vw  }
}