.app .NavBar {
    background: linear-gradient(#E7717D, #f1bc7f);
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 2vw;
}

.app .NavBar > * {
    flex-basis: 100%;
    min-height: 60px;
    max-height: 3vw;
    margin: 1rem;
}

.app .NavBar .container {
    display: flex;
    justify-content: space-evenly;
    min-height: 251px;
    max-width: 100%;
}

#logo {
    max-height: 251px;
    max-width: 251px;
}

@media all and (min-width: 1000px) {
    .app .NavBar { flex-flow: column wrap }
    .app .NavBar > * { flex-basis: 100% }
}