.container .nav img { 
    display: none;
    width: 80%;
    margin: 10%;
  }
  
.container .nav {
    background-color: #E7717D;
}

.container .nav .NavMenu {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

@media all and (min-width: 800px) {
    .container .nav img { display: flex   }
    .container .nav     { flex-grow: 0.5; }
  }