button{
    flex: 1 100%;
    margin: 1vh;
    min-height: 50px;
    max-height: 4vw;
    font-size: 100%;
    outline: none;
    border-radius: 15px;
    background-color: #e1e6eb;
    color: black;
    border: solid #E7717D;
}

button:hover     { background-color: white     }
button:active    { background-color: #c2d3a688 }
button:focus     { outline: none}