h1, h2 { text-align: center }

.app .Content {
    background: linear-gradient(#f6fafd, #cacdd1);
    flex-grow: 2;
}

.app .Content .deviceList {
    border: solid #adb1b4;
    background-color: #d6dbe0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-height: 500px;
    overflow: auto;
}

.app .Content .deviceList .device {
    background: linear-gradient(#E7717D, #f1bc7f);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 5px grey;
}

#division {
    background: linear-gradient(#7E685A, #745746);
    height: 10px;
    margin: 20px 0px 10px;
    width: 100%;
    border-radius: 5px;
}